@import '../../style/contants.scss';

.navigation {
  display: flex;
  position: fixed;

  bottom: 20px;

  .container {
    display: flex;
    justify-content: space-around;
    background: #65116F;
    background: linear-gradient(to bottom right, #90179d4a, #45044f79);
    padding: 5px 25px;
    border-radius: 20px;

    box-shadow: -1px 2px 3px 2px #90179df8;

    width: 500px;

    @media (max-width: 680px) {
      width: 320px;
    }

    .item {
      list-style: none;
      padding: 5px;
      border: 7px solid transparent;
      border-radius: 50%;

      &.active {
        background: linear-gradient(to bottom right, #8c3196, #45044f);
        border: 7px solid $dark-bg;
        transform: translateY(-50%) scale(1.4);
        box-shadow: -1px -1px 3px 1px #65036c;
        animation: animate-one .4s;
      }

      @keyframes animate-one {
        0% {
          background: transparent;
          border: 7px solid transparent;
          transform: translateY(0) scale(1);
          box-shadow: none;
        }
        50% {
          background: linear-gradient(to bottom right, #8c3196, #45044f);
          border: 7px solid $dark-bg;
          transform: translateY(-50%) scale(1.4);
          box-shadow: none;
        }
        100% {
          background: linear-gradient(to bottom right, #8c3196, #45044f);
          border: 7px solid $dark-bg;
          transform: translateY(-50%) scale(1.4);
          box-shadow: -1px -1px 3px 1px #65036c;
        }
      }
    }

    .icon {
      font-size: 50px;

      @media (max-width: 680px) {
        font-size: 24px;
      }
    }
  }
}

// .navigation {
//   display: flex;
//   position: absolute;


//   background: linear-gradient(to top left, #612f81, #3f055c4f);
//   background-color: #ffffff2a;
//   width: 400px;
//   height: 60px;

//   justify-content: center;
//   align-items: center;
//   bottom: 0;
//   bottom: 20px;
//   border-radius: 20px;

//   .ul {
//     display: flex;
//     width: 350px;

//     .list {
//       list-style: none;
//       position: relative;
//       width: 70px;
//       height: 60px;
//       z-index: 1;

//       &.active {
//         a .icon {
//           background-color: #f00;
//           color: #fff;
//           transform: translateY(-27px);
//           transition: 0.5s;
//           transition-delay: 0.25s;

//           &::before {
//             opacity: 0.5;
//             transition-delay: 0.5s;
//           }
//         }
//       }

//       a {
//         position: relative;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         height: 100%;
//         width: 100%;

//         .icon {
//           position: relative;
//           display: block;
//           width: 55px;
//           height: 55px;

//           text-align: center;
//           line-height: 65px;
//           border-radius: 50%;
//           color: #222327;
//           font-size: 1.5em;
//           transition: 0.5;
//           transition-delay: 0s;

//           &::before {
//             content: '';
//             position: absolute;
//             top: 10px;
//             left: 0;
//             width: 100%;
//             height: 100%;
//             background: #f00;
//             border-radius: 50%;
//             filter: blur(5px);
//             opacity: 0;
//             transition: 0.5s;
//             transition-delay: 0s;
//           }
//         }
//       }
//     }
//   }
// }

// .indicator {
//   position: absolute;
//   top: -35px;
//   width: 70px;
//   height: 70px;
//   background: linear-gradient(to top left, #612f81, #3f055c4f);
//   border-radius: 50%;
//   transition: 0.5s;

//   &::before {
//     content: '';
//     position: absolute;
//     top: 6px;
//     left: -28px;
//     width: 30px;
//     height: 30px;
//     background: transparent;
//     border-radius: 50%;
//     box-shadow: 16px 20px #612f81;
//   }

//   &::after {
//     content: '';
//     position: absolute;
//     top: 6px;
//     right: -28px;
//     width: 30px;
//     height: 30px;
//     background: transparent;
//     border-radius: 50%;
//     box-shadow: -16px 20px #fff;
//   }
// }

// .navigation .ul .list:nth-child(1).active ~ .indicator {
//   transform: translateX(calc(70px * 0));
// }

// .navigation .ul .list:nth-child(2).active ~ .indicator {
//   transform: translateX(calc(70px * 1));
// }

// .navigation .ul .list:nth-child(3).active ~ .indicator {
//   transform: translateX(calc(70px * 2));
// }

// .navigation .ul .list:nth-child(4).active ~ .indicator {
//   transform: translateX(calc(70px * 3));
// }

// .navigation .ul .list:nth-child(5).active ~ .indicator {
//   transform: translateX(calc(70px * 4));
// }